BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
UseTab: Never
ColumnLimit: 120
AccessModifierOffset: -4
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterStruct: true
  AfterUnion: true
  AfterEnum: true
  AfterFunction: true
  AfterControlStatement: Never
  AfterNamespace: false
  BeforeCatch: false
  BeforeElse: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
InsertBraces: true
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
PointerAlignment: Left
ReferenceAlignment: Pointer
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: Never
ConstructorInitializerIndentWidth: 4
IncludeBlocks: Preserve
