{
  "version": 3,
  "configurePresets": [
    {
      "name": "my-debug",
      "displayName": "Windows x64 Debug (local Qt)",
      "inherits": "windows-x64-debug",
      "environment": {
        "QTDIR": "D:/Qt/6.11.2/msvc2022_64"
      }
    },
    {
      "name": "my-release",
      "displayName": "Windows x64 Release (local Qt)",
      "inherits": "windows-x64-release",
      "environment": {
        "QTDIR": "D:/Qt/6.11.2/msvc2022_64"
      }
    }
  ]
}
